body {
    margin-top: 0;
}

#app {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
}

nav {
    width: 90%;
    margin: 0 5%;
    padding: 1em 0;
    border-top: 1px solid #1f41a6; /*navy blue*/
    border-bottom: 1px solid #1f41a6; /*navy blue*/
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

button {
    background: #1f41a6; /*navy blue*/
    background: #082640; /*very dark blue*/
    border: none;
    border-radius: 50%;
    flex: initial; /*flex: 0 1 auto*/
}

button a {
    color: #fff;
    text-decoration: none;
}

button a.router-link-exact-active {
    color: #f2e750; /*yellow*/
}

@media all and (min-width: 300px) {
    button {
        width: 64px;
        height:  64px;
    }
}

/*@media all and (min-width: 400px) {
    button {
        width: 22%;
    }
}

@media all and (min-width: 500px) {
    button {
        width: 20%;
    }
}*/

section {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

.borough {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

.pool {
    width: 90%;
    margin: .5em 0;
    padding: 0 5%;
    background: #fafafa; /*grey 50*/
    border: 1px solid #eee; /*grey 200*/
    flex: initial; /*flex: 0 1 auto*/
}

.highlight { /*NOT BEING USED*/
    color: #048abf; /*light to medium blue*/
}

footer {
    width: 80%;
    margin: 0 5%;
    padding: 1em 5%;
    background: #082640; /*very dark blue*/
    flex: initial; /*flex: 0 1 auto*/
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Image becomes no larger than actual size.*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*FONTS and thie media queries below*/
figcaption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    color: #616161; /*grey 700*/
}

button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 600;
}

li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
}

/*positions handicapped icon at end of pool dimensions line.*/
span {
    position: absolute;
    top: 0;
    right: auto;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

.pool p {
    line-height: 1.5;
}

footer p {
    color: #fff;
}

p a {
    color: #1976d2; /*blue 700*/
    text-decoration: none;
}

p a:hover {
    color: #1976d2; /*blue 700*/
    text-decoration: underline;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 700;
    /*color: #fff;*/
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
    font-weight: 700;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 600;
}

footer h3 {
    color: #fff;
}

@media all and (min-width: 300px) {
    figcaption {
        font-size: .75em; /*12px*/
    }

    button {
        font-size: .8125em; /*13px*/
    }

    li {
        font-size: .8125em; /*13px*/
    }

    p {
        font-size: .875em; /*14px*/
    }

    h1 {
        font-size: 1.2em; /*16px*/
    }

    h2 {
        font-size: 1em; /*15px*/
    }

    h3 {
        font-size: .9375em; /*15px*/
    }

}

@media all and (min-width: 400px) {
    figcaption {
        font-size: .8125em; /*13px*/
    }

    button {
        font-size: .875em; /*14px*/
    }

    li {
        font-size: .875em; /*14px*/
    }

    p {
        font-size: .9375em; /*15px*/
    } 

    h1 {
        font-size: 1.4em; /*19.2px*/
    }

    h2 {
        font-size: 1.2em; /*16px*/
    }

    h3 {
        font-size: 1em; /*16px*/
    }

}

@media all and (min-width: 500px) {
    figcaption {
        font-size: .875em; /*14px*/
    }

    button {
        font-size: .875em; /*14px*/
    }

    li {
        font-size: .875em; /*14px*/
    }

    p {
        font-size: 1em; /*15px*/
    }

    h1 {
        font-size: 1.6em; /*22.4px*/
    }

    h2 {
        font-size: 1.4em; /*19.2px*/
    }

    h3 {
        font-size: 1.1em; /*17.6px*/
    }

}

@media all and (min-width: 600px) {
    figcaption {
        font-size: .9375em; /*15px*/
    }

    button {
        font-size: 1em; /*16px*/
    }

    li {
        font-size: 1em; /*16px*/
    }

    p {
        font-size: 1.1em; /*17.6px*/
    }

    h1 {
        font-size: 1.8em; /*25.6px*/
    }

    h2 {
        font-size: 1.6em; /*22.4px*/
    }

    h3 {
        font-size: 1.2em; /*19.2px*/
    }
}
