body {
    margin: 0;
}

#app {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin: 0;
    padding: 0.5em 5%;
    background: #2e83f2; /*lavender blue*/
    background: #0e4996; /*dark blue*/
    flex: initial; /*flex: 0 1 auto*/
}

nav {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    background: #f2f2f2; /*grey*/
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

button.nav {
    background: #2e83f2; /*lavender blue*/
    background: #0e4996; /*dark blue*/
    border: none;
    border-radius: 50%;
    flex: initial; /*flex: 0 1 auto*/
}

button.nav a {
    color: #fff;
    text-decoration: none;
}

button.nav a.router-link-exact-active {
    color: #f2e750; /*yellow*/
}

@media all and (min-width: 300px) {
    button.nav {
        width: 42px;
        height:  42px;
    }
}

@media all and (min-width: 400px) {
    button.nav {
        width: 48px;
        height:  48px;
    }
}

@media all and (min-width: 500px) {
    button.nav{
        width: 54px;
        height:  54px;
    }
}

@media all and (min-width: 600px) {
    button.nav{
        width: 60px;
        height:  60px;
    }
}

button.regular {
    margin-bottom: 1.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    background: #2e83f2; /*lavender blue*/
    border: none;
    border-radius: 6px;
    flex: initial; /*flex: 0 1 auto*/
}

button.regular:hover {
    cursor: pointer;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

@media all and (min-width: 600px) {
    section {
        border-right: 1px solid #eee; /*grey 200*/
        border-left: 1px solid #eee; /*grey 200*/
    }
}

form {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    border: 1px solid #f2ece4; /*oatmeal*/
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

label {
    width: 90%;
    margin: 1em 10% 0 10%;
    padding: 0;
}

input[type="text"] {
    width: 80%;
    margin: 0.5em 10%;
    padding: 0;
}

@media all and (min-width: 300px) {
    input[type="radio"] {
        width: 8%;
        margin: 0.5em 0 0.5em 10%;
        padding: 0;
    }

    /*label immediately following "radio" input*/
    input[type="radio"] + label {
        width: 82%;
        margin: 0;
        padding: 0;
    }
}

@media all and (min-width: 400px) {
    input[type="radio"] {
        width: 5%;
        margin: 0.5em 0 0.5em 10%;
        padding: 0;
    }

    /*label immediately following "radio" input*/
    input[type="radio"] + label {
        width: 85%;
        margin: 0;
        padding: 0;
    }
}

select {
    width: 50%;
    margin: 0.5em 10%;
    padding: 0;
}

textarea {
    width: 80%;
    margin: 0.5em 10%;
    padding: 0;
}

.page-title {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #ffe30b; /*bright yellow*/
    background: #ffc963;
    background: #0e4996; /*dark blue*/
    background: #ffc963; /*light brown*/
    flex: initial; /*flex: 0 1 auto*/
}

.summary {
    width: 90%;
    margin: 1em 0;
    padding: 0 5%;
    flex: initial; /*flex: 0 1 auto*/
}

.fees-sched {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #f2f2f2; /*grey*/
    flex: initial; /*flex: 0 1 auto*/
}

.pool {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    border-bottom: 1px solid #2e83f2; /*lavender blue*/
    flex: initial; /*flex: 0 1 auto*/
}

.pool:last-child {
    border: none;
}

/*Styles for <Transition>*/
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

footer {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    background: #ffe30b; /*bright yellow*/
    background: #ffc963; /*light brown*/
    flex: initial; /*flex: 0 1 auto*/
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

figcaption {
    width: 90%;
    margin: 0.5em 0;
    padding: 0 5%;
}

/*Image becomes no larger than actual size.*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*FONTS and thie media queries below*/
figcaption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #616161; /*grey 700*/
}

button.nav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 600;
}

button.regular {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
}

li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
}

p, label, input, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

/*Note: Setting font styles for "select" or "option" in pull-down menus
seems to make no difference. Adding "optgroup" has no effect either.*/

.pool p {
    line-height: 1.5;
}

p a, li a {
    color: #2e83f2; /*lavender blue*/
    text-decoration: none;
}
p a:hover, li a:hover {
    color: #2e83f2; /*lavender blue*/
    text-decoration: underline;
    cursor: pointer;
}

p.link-like {
    color: #2e83f2; /*lavender blue*/
}

p.link-like:hover {
    color: #2e83f2; /*lavender blue*/
    text-decoration: underline;
    cursor: pointer;
}

/*positions handicapped icon at end of pool dimensions line.*/
span.accessible {
    position: absolute;
    bottom: 0;
    right: auto;
}

/*makes font red*/
span.highlight {
    color: #f24405; /*red*/
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

h1 a:hover {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
    font-weight: 700;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 600;
}

@media all and (min-width: 300px) {
    figcaption {
        font-size: .75em; /*12px*/
    }

    button.nav {
        font-size: .8125em; /*13px*/
    }

    button.regular {
        font-size: .75em; /*12px*/
    }

    li {
        font-size: .8125em; /*13px*/
    }

    p, label, input, textarea {
        font-size: .875em; /*14px*/
    }

    h1 {
        /*font-size: 1.2em; 19.2px*/
        font-size: 1em;
    }

    h2 {
        font-size: 1em; /*16px*/
    }

    h3 {
        font-size: .9375em; /*15px*/
    }
}

@media all and (min-width: 400px) {
    figcaption {
        font-size: .8125em; /*13px*/
    }

    button.nav {
        font-size: .875em; /*14px*/
    }

    button.regular {
        font-size: .8125em; /*13px*/
    }

    li {
        font-size: .875em; /*14px*/
    }

    p, label, input, textarea {
        font-size: .9375em; /*15px*/
    }

    /*h1 {
        font-size: 1.4em; 22.4px
    }*/

    h2 {
        font-size: 1.2em; /*19.2px*/
    }

    h3 {
        font-size: 1em; /*16px*/
    }
}

@media all and (min-width: 500px) {
    figcaption {
        font-size: .875em; /*14px*/
    }

    button.nav {
        font-size: .875em; /*14px*/
    }

    button.regular {
        font-size: .875em; /*14px*/
    }

    li {
        font-size: .875em; /*14px*/
    }

    p, label, input, textarea {
        font-size: 1em; /*16px*/
    }

    /*h1 {
        font-size: 1.6em; 25.6px
    }*/

    h2 {
        font-size: 1.4em; /*22.4px*/
    }

    h3 {
        font-size: 1.1em; /*17.6px*/
    }
}

@media all and (min-width: 600px) {
    figcaption {
        font-size: .9375em; /*15px*/
    }

    button.nav {
        font-size: 1em; /*16px*/
    }

    button.regular {
        font-size: .9375em; /*15px*/
    }

    li {
        font-size: 1em; /*16px*/
    }

    p, label, input, textarea {
        font-size: 1.1em; /*17.6px*/
    }

    /*h1 {
        font-size: 1.8em; 28.8px
    }*/

    h2 {
        font-size: 1.6em; /*25.6px*/
    }

    h3 {
        font-size: 1.2em; /*19.2px*/
    }
}
