#container {
    width:  95%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 100%;
    margin-bottom: 2em ;
    padding:  0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
}

.title {
    width: 70%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

form {
    width: 27%;
    margin: 0;
    padding: 0.5em 1.5%;
    border-radius: 8px;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
}

input {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5em;
    font-weight: 400;
    color: #001b3f;
    flex: initial; /*flex: 0 1 auto*/
}

nav {
    width: 41.5625%;
    margin: 0;
    padding:  0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

#boroughs {
    width: 56.390977443609%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

#types {
    width: 37.593984962406%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

button {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 3.75;
    font-weight: 400;
    border: none;
    flex: initial; /*flex: 0 1 auto*/
}

button:hover {
    cursor: pointer;
}

.button-borough {
    width: 50%;
    color: #001d32;
    background: #cde5ff;
}

#button-bx {
    border-right: 1px solid #004b74;
}

#button-mn {
    border-top: 1px solid #004b74;
    border-right: 1px solid #004b74;
    border-bottom: 1px solid #004b74;
}

#button-qn {
    border-top: 1px solid #004b74;
    border-bottom: 1px solid #004b74;
}

#button-si {
    border-right: 1px solid #004b74;
}

.button-type {
    width: 100%;
    color: #171e00;
    background: #cff063;
}

#button-outdoor {
    border-top: 1px solid #3d4d00;
    border-bottom: 1px solid #3d4d00;
}

/* Selected buttons in nav */
#boroughs .selected {
    background: #93ccff;
}

#types .selected {
    background: #bcdc4a;
}

#criteria-bar {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

.pools {
    width: 27%;
    margin-bottom: 2em;
    padding: 0 1.5%;
    background: #e7f2ff;
    border-radius: 8px;
    flex: initial; /*flex: 0 1 auto*/
}

.errors {
    width: 27%;
    margin-bottom: 2em;
    padding: 0 1.5%;
    background: #ffdad6;
    border-radius: 8px;
    flex: initial; /*flex: 0 1 auto*/
}

/* Fonts */
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25em; /* 20px */
    line-height: 3;
    font-weight: 500;
    color: #1a1c1e;
}

h1:hover {
    cursor: pointer;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 2.5;
    font-weight: 400;
    color: #984800;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 500;
    color: #001d32;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 400;
    color: #001d32;
}

.error-text {
    color: #410002;
}

dl {
    padding-bottom: 1.5em;
    /*border-bottom: 1px solid #004b74;*/
}

dl:last-child {
    padding-bottom: 0;
    /*border-bottom: none;*/
}

dt {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 500;
    color: #001d32;
}

dd {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 400;
    color: #001d32;
    margin-left: 0;
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 2;
    font-weight: 400;
    color: #1a1c1e;
}