#container {
    width:  95%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross-axis */
}

header {
    width: 100%;
    margin-bottom: 2em ;
    padding:  0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: center; /* cross axis */
}

.title {
    /*width: 70%;*/
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

form {
    /*width: 27%;*/
    margin: 0;
    /*padding: 0.5em 1.5%;*/
    background: #dee3eb;
    border-radius: 8px;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
}

@media (width >= 300px) and (width <= 499px) {
    .title {
        width: 100%;
    }

    form {
        width: 90%;
        padding: 0.5em 5% 1em 5%;
    }
}

@media (width >= 500px) and (width <= 599px) {
    .title {
        width: 100%;
    }

    form {
        width: 80%;
        padding: 0.5em 5% 1em 5%;
    }
}

@media (width >= 600px) and (width <= 699px) {
    .title {
        width: 100%;
    }

    form {
        width: 70%;
        padding: 0.5em 5% 1em 5%;
    }
}

@media (width >= 700px) and (width <= 999px) {
    .title {
        width: 50%;
    }

    form {
        width: 37%;
        padding: 0.5em 1.5%;
    }
}

@media (width >= 1000px) {
    .title {
        width: 50%;
    }

    form {
        width: 27%;
        padding: 0.5em 1.5%;
    }
}

input {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875em; /* 14px */
    line-height: 1.5em;
    font-weight: 400;
    color: #001b3f;
    flex: initial; /* flex: 0 1 auto */
}

nav {
    /*width: 41.5625%;*/
    margin: 0;
    padding:  0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

#boroughs {
    /*width: 56.390977443609%;*/
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

#types {
    /*width: 37.593984962406%;*/
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

@media (width >= 300px) and (width <= 399px) {
    nav {
        width: 100%;
    }

    #boroughs {
        width: 100%;
        margin-bottom: 1.5em;
    }

    #types {
        width: 100%;
    }
}

@media (width >= 400px) and (width <= 499px) {
    nav {
        width: 100%;
    }

    #boroughs {
        width: 60%;
    }

    #types {
        width: 35%;
    }
}

@media (width >= 500px) and (width <= 599px) {
    nav {
        width: 90%;
    }

    #boroughs {
        width: 60%;
    }

    #types {
        width: 35%;
    }
}

@media (width >= 600px) and (width <= 699px) {
    nav {
        width: 80%;
    }

    #boroughs {
        width: 60%;
    }

    #types {
        width: 35%;
    }
}

@media (width >= 700px) and (width <= 799px) {
    nav {
        width: 70%;
    }

    #boroughs {
        width: 60%;
    }

    #types {
        width: 35%;
    }
}

@media (width >= 800px) and (width <= 899px){
    nav {
        width: 60%;
    }

    #boroughs {
        width: 60%;
    }

    #types {
        width: 35%;
    }
}

@media (width >= 900px) and (width <= 999px) {
    nav {
        width: 50%;
    }

    #boroughs {
        width: 60%;
    }

    #types {
        width: 35%;
    }
}

@media (width >= 1000px) {
    nav {
        width: 40%;
    }

    #boroughs {
        width: 60%;
    }

    #types {
        width: 35%;
    }
}

button {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 3.75;
    font-weight: 400;
    border: none;
    flex: initial; /* flex: 0 1 auto */
}

button:hover {
    cursor: pointer;
}

.button-borough {
    width: 50%;
    color: #001d32;
    background: #cde5ff;
}

#button-bx {
    border-right: 1px solid #004b74;
    border-top-left-radius: 8px;
}

#button-bk {
    border-top-right-radius: 8px;
}

#button-mn {
    border-top: 1px solid #004b74;
    border-right: 1px solid #004b74;
    border-bottom: 1px solid #004b74;
}

#button-qn {
    border-top: 1px solid #004b74;
    border-bottom: 1px solid #004b74;
}

#button-si {
    border-right: 1px solid #004b74;
    border-bottom-left-radius: 8px;
}

#button-map {
    border-bottom-right-radius: 8px;
}

.button-type {
    width: 100%;
    color: #171e00;
    background: #cff063;
}

#button-indoor {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#button-outdoor {
    border-top: 1px solid #3d4d00;
    border-bottom: 1px solid #3d4d00;
}

#button-wading {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Selected buttons in nav */
#boroughs .selected {
    background: #93ccff;
}

#types .selected {
    background: #bcdc4a;
}

#criteria-bar {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

main {
    width: 100%;
    margin: 0;
    padding: 1em 0;
    flex: 1; /*flex: 1 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: stretch; /* cross-axis */
}

.pools {
    /*width: 27%;*/
    margin-bottom: 2em;
    /*padding: 0 1.5%;*/
    background: #e7f2ff;
    border-radius: 8px;
    flex: initial; /* flex: 0 1 auto */
    position: relative;
}

.errors {
    /*width: 27%;*/
    margin-bottom: 2em;
    /*padding: 0 1.5%;*/
    background: #ffdad6;
    border-radius: 8px;
    flex: initial; /* flex: 0 1 auto */
}

@media (width >= 300px) and (width <= 649px) {
    .pools, .errors {
        width: 90%;
        padding: 0 5%;
    }
}

@media (width >= 650px) and (width <= 999px) {
    .pools, .errors {
        width: 42%;
        padding: 0 3%;
    }
}

@media (width >= 1000px) {
    .pools, .errors {
        width: 27%;
        padding: 0 2%;
    }
}

#full-pool {
    position: fixed; /* do not use absolute, unreliable results */
    max-height: 600px;
    z-index: 1;
    background: #fcfcff;
    border-radius: 8px;
    box-shadow: 3px 3px 6px 6px #e2e2e5; /* hor, vert, blur, spread */
    overflow: scroll;
}

/* Icons */
figure {
    margin: 0;
    padding: 0;
}

#close-icon {
    position: fixed;
    z-index: 1;
}

#close-icon:hover {
    cursor: pointer;
}

#open-in-full-icon {
    position: absolute;
    bottom: 5px;
    right:  10px;
}

#open-in-full-icon:hover {
    cursor: pointer;
}

/* Fonts */
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25em; /* 20px */
    line-height: 3;
    font-weight: 500;
    color: #1a1c1e;
}

h1:hover {
    cursor: pointer;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 2.5;
    font-weight: 400;
    color: #984800;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 500;
    color: #001d32;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 400;
    color: #001d32;
}

.error-text {
    color: #410002;
}

dl {
    padding-bottom: 1.5em;
    /*border-bottom: 1px solid #004b74;*/
}

dl:last-child {
    padding-bottom: 0;
    /*border-bottom: none;*/
}

dt {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 500;
    color: #001d32;
}

dd {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 400;
    color: #001d32;
    margin-left: 0;
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 2;
    font-weight: 400;
    color: #42474e;
}
